<html>
<body style="align-items: center;">
    <h1>Graph for the last 24 Hours</h1>
    <img src="{{url_for('static', filename='/Image/main.png')}}" />
    <h1>Min magnitude : {{data['min_mag']}}</h1>
    <h1>Max magnitude : {{data['max_mag']}}</h1>
    <h1>Total Earthquakes : {{data['total']}}</h1>
    <form method="post">
    From: <input type="datetime-local" name="d1"/>
    <br/><br/>
    To: <input type="datetime-local" name="d2"/>
    <br/><br/>
    <button type="submit">Submit</button>
    </form>
    <h1>last Earthquakes :</h1>
    {% for i in data['last'] %}
    <h3>Magnitude : {{i['magnitude']['mag']['value']}}, time : {{i['origin']['time']['value']}}</h3>
    {% endfor %}
</body>
</html>